html {
    display: static;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Start of nav bar */
.nav-bar {
    display: flex;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 0px solid;
}

.right-nav {
    display: flex;
}

.nav-bar > .right-nav > .nav-link {
    margin-right: 30px;
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
}

.nav-link {
    margin-top: 45px;
    height: 22px;
    border-bottom: 6px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: #000000;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 6px solid rgb(0, 130, 35);
}

.logo {
    margin-top: 0;
    margin-left: 15vw;
    margin-right: 40px;
}
/* End of nav bar */

/* Start of footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}
/* End of footer */