{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Account - Big Bank</title>
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}

{% block content %}

<div class="account-container">
        
    <div class="account-name-container">
        <p><span id="username">{{username}}</span>'s Account</p>
    </div>
    <div class="transactions-and-label">
        <label>Recent Transactions:</label>
        <div class="transactions-container">
            <div class="transaction-light" id="labels">
                <span class="date">Date</span>
                <span class="description">Description</span>
                <span class="sender">Sender</span>
                <span class="receiver">Receiver</span>
                <span class="balance">Balance</span>
            </div>
            {% for transaction in transactions %}
            <div class="transaction-{{ forloop.counter0|divisibleby:2|yesno:'light,dark' }}" id="{{ forloop.counter }}">
                <span class="date">{{ transaction.0 }}</span>
                <span class="description">{{ transaction.1 }}</span>
                <span class="sender">{{ transaction.2 }}</span>
                <span class="receiver">{{ transaction.3 }}</span>
                <span class="balance">{{ transaction.4 }}</span>
            </div>
            {% endfor %}
        </div>
        {% if account_page_num > 0 %}
        <form class="last-page-form" method="post">
            {% csrf_token %}
            <button id="last-page" type="submit" name="form_type" value="last-page">Last Page</button>
        </form>
        {% endif %}
        {% if page_element_max > page_element_size %}
        <form class="next-page-form" method="post">
            {% csrf_token %}
            <button id="next-page" type="submit" name="form_type" value="next-page">Next Page</button>
        </form>
        {% endif %}
        <p><span id="page">{{account_page_num}}</span></p>
    </div>
    <div class="balance-container">
        Balance:&nbsp;<span id="balance-value">{{balance}}</div>
    </div>
</div>
{% endblock %}
