{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Account - Big Bank</title>
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}

{% block content %}

<div class="account-container">
        
    <div class="account-name-container">
        <p><span id="username">{{username}}</span>'s Account</p>
    </div>
    <div class="transactions-and-label">
        <label>Recent Transactions:</label>
        <div class="transactions-container">
            <div class="transaction-light" id="labels">
                <span class="date">Date</span>
                <span class="description">Description</span>
                <span class="sender">Sender</span>
                <span class="receiver">Receiver</span>
                <span class="balance">Balance</span>
            </div>
            
            {% for transaction in transactions %}
            <form action="/account/" method="POST" class="transaction-{{ forloop.counter0|divisibleby:2|yesno:'light,dark' }} clickable-transaction" id="{{ forloop.counter }}">
                    {% csrf_token %}
                    <span class="date">{{ transaction.0 }}</span>
                    <span class="description">{{ transaction.1 }}</span>
                    <span class="sender">{{ transaction.2 }}</span>
                    <span class="receiver">{{ transaction.3 }}</span>
                    <span class="balance">{{ transaction.4 }}</span>
                    <input type="hidden" name="date" value="{{ transaction.0 }}">
                    <input type="hidden" name="description" value="{{ transaction.1 }}">
                    <input type="hidden" name="sender" value="{{ transaction.2 }}">
                    <input type="hidden" name="receiver" value="{{ transaction.3 }}">
                    <input type="hidden" name="balance" value="{{ transaction.4 }}">
                    <input type="hidden" name="transaction_id" value="{{ transaction.5 }}">
            </form>
            {% endfor %}

            <script>
                const transactionDivs = document.querySelectorAll('.clickable-transaction');

                transactionDivs.forEach(div => {
                    div.addEventListener('click', function() {
                        const formClassPrefix = this.classList[1];
                        const form = this.closest(`.${formClassPrefix}`);

                        if (form) {
                            form.submit();
                        }
                    });
                });
            </script>

        </div>
        {% if account_page_num > 0 %}
        <form class="last-page-form" method="post">
            {% csrf_token %}
            <button id="last-page" type="submit" name="form_type" value="last-page">Last Page</button>
        </form>
        {% endif %}
        {% if page_element_max > page_element_size %}
        <form class="next-page-form" method="post">
            {% csrf_token %}
            <button id="next-page" type="submit" name="form_type" value="next-page">Next Page</button>
        </form>
        {% endif %}
        <p><span id="page">{{account_page_num}}</span></p>
    </div>
    <div class="balance-container">
        Balance:&nbsp;<span id="balance-value">{{balance}}
    </div>

    {% if selected_transaction %}
    <div class="selected-transaction-container">
        <span>Report Selected Transaction</span>
        <form class="report-form" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="SIBRckQCKlklf3aGkLU5Ma0sz8hlgVMurjtCp5poOyRgKQ3mnxobggVvoOpVQVWK">
            <textarea rows="6" cols="25" id="description" name="description" placeholder="Describe the problem here..."></textarea>
            <button type="submit" name="form_type" value="flag-transaction" class="submit-report">Submit Report</button>
        </form>
    </div>
    {% endif %}
    
    <div class="account-type-container">
        <label>Account type:&nbsp;</label><span id="balance-value">Personal
    </div>
</div>
{% endblock %}
