{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Account - Big Bank</title>
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}

{% block content %}

<div class="account-container">
        
    <div class="account-name-container">
        <p><span id="username">{{username}}</span>'s Account</p>
    </div>
    <div class="transactions-and-label">
        <label>Recent Transactions:</label>
        <div class="transactions-container">
            <div class="transaction-light" id="labels">
                <span class="date">Date</span>
                <span class="description">Description</span>
                <span class="sender">Sender</span>
                <span class="receiver">Receiver</span>
                <span class="balance">Balance</span>
            </div>
            <div class="transaction-dark" id="0">
                {{transaction0}}
            </div>
            <div class="transaction-light" id="1">
                {{transaction1}}
            </div>
            <div class="transaction-dark" id="2">
                {{transaction2}}
            </div>
            <div class="transaction-light" id="3">
                {{transaction3}}
            </div>
            <div class="transaction-dark" id="4">
                {{transaction4}}
            </div>
            <div class="transaction-light" id="5">
                {{transaction5}}
            </div>
            <div class="transaction-dark" id="6">
                {{transaction6}}
            </div>
            <div class="transaction-light" id="7">
                {{transaction7}}
            </div>
            <div class="transaction-dark" id="8">
                {{transaction8}}
            </div>
            <div class="transaction-light" id="9">
                {{transaction9}}
            </div>
        </div>
    </div>
    <div class="balance-container">
        Balance:&nbsp;<span id="balance-value">{{balance}}</div>
    </div>
    
</div>

{% endblock %}
