<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'base.css' %}">
    
    {% block head %}{% endblock %}
</head>
<body>
    <div class="nav-bar">
        <div class="left-nav">
            <div class="logo">
                <img src="{% static 'images/big-bank-logo.png' %}" alt="Big Bank Logo" style="width: 125px; height: auto;">
            </div>
        </div>

        <div class="right-nav">
            <div class="nav-link">
                <a href="/">Home</a>
            </div>
            
            {% if client_is_logged_in %}
            <div class="nav-link">
                <a href="/account">Account</a>
            </div>
            <div class="nav-link">
                <a href="/transfer">Transfer</a>
            </div>
            <div class="nav-link">
                <a href="/logout">Logout</a>
            </div>
            {% elif admin_is_logged_in %}
            <div class="nav-link">
                <a href="/cashier">Cashier</a>
            </div>
            <div class="nav-link">
                <a href="/flagged-transactions">Flagged Transactions</a>
            </div>
            <div class="nav-link">
                <a href="/logout">Logout</a>
            </div>
            {% else %}
            <div class="nav-link">
                <a href="/login">Login</a>
            </div>
            <div class="nav-link">
                <a href="/admin-login">Admin-Login</a>
            </div>
            {% endif %}

            <div class="nav-link">
                <a href="/services">Services</a>
            </div>

            <div class="nav-link">
                <a href="/aboutus">About Us</a>
            </div>

            <div class="nav-link">
                <a href="/contactus">Contact Us</a>
            </div>
        </div>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
        <p>&copy; 2023 Big Bank</p>
    </footer>
</body>
</html>

<script>
    var time_count = 300;       // set to 5 min (300 sec)
    var countdown = time_count; // Countdown time in seconds
    var timer_interval;

    /*
        Starts the timer when the window opens
    */
    function startTimer() 
    {
        clearInterval(timer_interval);
        timer_interval = setInterval(function() {
            countdown--;    

            // log user out if the countdown finshes
            if (countdown <= 0) {
                clearInterval(timer_interval);
                console.log('Reset');
                checkLoginStatus();
            }
        }, 1000); // Update every second 
    }

    /*
        Checks the login status and logs the user out if they logged in
    */
    function checkLoginStatus() 
    {
        // AJAX request to check login status
        fetch('/check_login_status/')
            .then(response => response.json())
            .then(data => {
                if (data.status === 'logged_in')
                {
                    console.log('User is logged in');
                    window.location.href = '/logout';
                } 
            })
    }

    /*
        Reset the timer to time count
    */
    function resetTimer() 
    {
        countdown = time_count;
        console.log('Reset');
        startTimer();
    }

    document.addEventListener('mousemove', resetTimer); // Reset timer on mouse movement
    document.addEventListener('keypress', resetTimer);  // Reset timer on key press

    // Start the timer when the page loads
    window.onload = startTimer;
</script>
