<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'base.css' %}">
    
    {% block head %}{% endblock %}
</head>
<body>
    <div class="nav-bar">
        <div class="left-nav">
            <div class="logo">
                <img src="{% static 'images/big-bank-logo.png' %}" alt="Big Bank Logo" style="width: 125px; height: auto;">
            </div>
        </div>

        <div class="right-nav">
            <div class="nav-link">
                <a href="/">Home</a>
            </div>
            
            {% if is_logged_in %}
            <div class="nav-link">
                <a href="/account">Account</a>
            </div>
            {% else %}
            <div class="nav-link">
                <a href="/login">Login</a>
            </div>
            {% endif %}

            <div class="nav-link">
                <a href="/services">Services</a>
            </div>

            <div class="nav-link">
                <a href="/aboutus">About Us</a>
            </div>

            <div class="nav-link">
                <a href="/contactus">Contact Us</a>
            </div>
        </div>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
        <p>&copy; 2023 Big Bank</p>
    </footer>
</body>
</html>