{% extends "base.html" %}

{% block head %}
    <title>Cashier - Big Bank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cashiers-interface.css' %}">

    <script>
        function submitForm(formId) {
            var form = document.getElementById(formId);
            form.appendChild(document.getElementById('manager-pin'));
            form.submit();
        }
    </script>
{% endblock %}

{% block content %}
<div class="cashier-entry-container">
    
    <div class="cashier-entry-header-container">
        <p>Cashier's Interface</p>
    </div>

    <div class="username-entry-container-container">
        <div class="username-entry-container">
            <div class="username-form-container">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="Enter Username">

                    <div class="button-container">
                        <button class="username-submit-button" type="submit" name="form_type" value="checkout-user">Checkout User</button>
                    </div>
                </form>
                {% if username %}
                <div class="user-info-container">
                        {{username}}'s balance:&nbsp;<span>${{balance}}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if username %}
    <div class="deposit-withdraw-containers">
        <div class="deposit-form-container">
            <h1>Deposit</h1>
            <form method="post" id="depositform">
                {% csrf_token %}
                <input type="text" id="deposit-amount" name="deposit-amount" placeholder="Deposit Amount">
                <input type="hidden" name="form_type" value="make-deposit">

                <div class="transaction-button-container">
                    <button class="transaction-button" type="button" onclick="submitForm('depositform')">Make Deposit</button>
                </div>
            </form>
        </div>
        <div class="manager-pin">
            <p>Manager Pin</p>
            {% csrf_token %}
            <input type="password" id="manager-pin" name="manager-pin" placeholder="******">
        </div>
        <div class="withdraw-form-container">
            <h1>Withdraw</h1>
            <form method="post" id="withdrawform">
                {% csrf_token %}
                <input type="text" id="withdraw-amount" name="withdraw-amount" placeholder="Withdrawal Amount">
                <input type="hidden" name="form_type" value="make-withdrawal">

                <div class="transaction-button-container">
                    <button class="transaction-button" type="button" onclick="submitForm('withdrawform')">Make Withdrawal</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
