{% extends "base.html" %}

{% block head %}
    <title>Big Bank - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
{% endblock %}

{% block content %}

{% if not is_logged_in %}
<div class="login-container">
    <form class="login-form" action="#" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button class="login-btn" type="submit">Login</button>
    </form>
</div>
{% endif %}

<div class="banner-image-container">
    <img src="{% static 'images/lance-asper-DerLYBxbrsw-unsplash.jpg' %}" alt="Photo of a snowy town by Lance Asper" class="home-background">
    <div class="overlay-container">
        <div class="text-overlay">
            {% if not is_logged_in %}
                <h1>Looking for a secure banking experience?</h1>
                <a href="/register" class="register-button">Register Now</a>
            {% else %}
                <h1>Welcome back {{username}}!</h1>
                <a href="/account" class="register-button">View Account</a>
            {% endif %}
        </div>
    </div>

    <div class="photographer-credit">
        <p>Photo Credit: Lance Asper</p>
    </div>
</div>

<div class="company-goals-container">
    <div class="goal-container">
        <img src="{% static 'images/shield-lock.png' %}" alt="Clip art of a lock shaped like a shield" class="goal-image">
        <h2>Confidentiality</h2>
        <p>Our robust security measures and encryption protocols ensure your personal information remains strictly confidential, giving you peace of mind.</p>
    </div>
    <div class="goal-container">
        <img src="{% static 'images/check-mark.png' %}" alt="Clip art of a check mark" class="goal-image">
        <h2>Data Integrity</h2>
        <p>Our vigilant monitoring and advanced verification processes guarantee that your financial information is tamper-proof and always dependable.</p>
    </div>
    <div class="goal-container">
        <img src="{% static 'images/clock.png' %}" alt="Clip art of a clock" class="goal-image">
        <h2>Availability</h2>
        <p>Enjoy banking convenience 24/7. Our redundant systems and sturdy infrastructure mean your accounts are accessible whenever you need them, ensuring you're never locked out of your financial world.</p>
    </div>
</div>
{% endblock %}

{% block footer %}
<a href="https://www.freepik.com/free-vector/shield_35202650.htm#query=lock&position=3&from_view=search&track=sph">Shield-lock image by juicy_fish</a>
|
<a href="https://www.vecteezy.com/png/22068737-approved-sign-and-symbol-clip-art">Check-mark image by Ovidiu Timplaru</a>
|
<a href="https://www.freepik.com/free-vector/illustration-clock_2606098.htm#page=2&query=clock%20clipart&position=4&from_view=keyword&track=ais">Clock image by rawpixel.com</a>
|
<a href="https://unsplash.com/photos/snow-covered-mountains-during-daytime-DerLYBxbrsw">Snowy mountains image by Lance Asper</a>
{% endblock %}