{% extends "base.html" %}

{% block head %}
    <title>Big Bank - Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
{% endblock %}

{% block header %}
    Welcome to Big Bank
{% endblock %}

{% block content %}
    <h2>Welcome to Big Bank</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel velit id libero finibus bibendum.</p>
    <p>Nullam eu libero eget urna condimentum vehicula. Suspendisse potenti. Donec rhoncus orci id vestibulum.</p>
{% endblock %}